.DS_Store
Gemfile.lock
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
*.swp
node_modules/
suggestions/
assets/density-map/data/**/*.shp
assets/density-map/data/**/*.dbf
assets/density-map/data/**/*.shx
assets/density-map/data/**/*.prj
assets/density-map/data/**/*.cpg
assets/density-map/data/**/*.xml
