#map {
  width: 100%;
  height: 600px;
}

.no-radius {
  border-radius: 0 !important;
}

.infobox {
  background: rgba(255, 255, 255, 0.8);
  max-width: 350px;
  font-size: 1rem;
}

.infobox-sm {
  font-size: 0.8rem;
  font-style: italic;
}

.legend {
  background: rgba(255, 255, 255, 0.8);
}

.viz {
  height: 500px;
}

h1, p, ul {
  max-width: 960px;
}